# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.local
.env*.local
.temp
.claude
*.claude
.agents
.mcp.json
scripts
skills-lock.json
datasets/PID_GTFS
datasets/PID_GTFS/*
datasets/bus_times_chunks/*
bus_times.sql
public